* {
    margin: 0%;
    padding: 0%;
}

div {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    transition: width 1s;
}

div:hover {
    width: 90%;
    background-color: rgb(255, 255, 255);
}

.header2 {
    background-color: rgb(220, 238, 189);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-shadow: rgb(20, 71, 71) 15px 15px 15px;
    border-radius: 40%;
    text-align-last: center;
}

.data2 {
    border: grey solid 3px;
    background-color: lightblue;
    font-size: x-large;
}

.button {
    background-size: 40%;
    text-align: center;
    background-image: -webkit-image-set();
}